@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --main-color: #fd4646;
  --text-color: #171427;
  --bg-color: #fff;
}

img {
  width: 100%;
}

body {
  color: var(--text-color);
}

.container {
  max-width: 1068px;
  margin: auto;
  width: 100%;
}

section {
  padding: 4rem 0 3rem;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--bg-color);
  box-shadow: 0 1px 4px hsl(0 4% 15% / 10%);
  z-index: 100;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.logo {
  font-size: 1.1rem;
  color: var(--text-color);
  font-weight: 400;
}

#cart-icon {
  font-size: 1.8rem;
  cursor: pointer;
}

.cart {
    position: fixed;
    top: 0;
    right: -100%;
    width: 360px;
    min-height: 100vh;
    padding: 20px;
    background: var(--bg-color);
    box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
    transition: 0.3s;
}

.cart.active{
    right: 0;
}

.cart-title{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
}

.cart-box{
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    grid-gap: 1rem;
    margin-top: 1rem;
}

.cart-img{
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 10px;
}

.detail-box{
    display: grid;
    row-gap: 0.5rem;
}

.cart-product-title{
    font-size: 1rem;
    text-transform: uppercase;
}

.cart-price{
    font-weight: 500;
}
.cart-quantity{
    border:1px solid var(--text-color);
    outline-color: var(--main-color);
    width: 2.4rem;
    text-align: center;
    font-size: 1rem;
}

.cart-remove{
    font-size: 24px;
    color: var(--main-color);
    cursor: pointer;
}

.total{
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid var(--text-color);
}

.total-title{
    font-size: 1rem;
    font-weight: 600;
}

.total-price{
    margin-left: 0.5rem;
}

.btn-buy{
    display: flex;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    border: none;
    background: var(--main-color);
    color: var(--bg-color);
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    border-radius: 5px;

}

.btn-buy:hover{
    background: var(--text-color);
}

#close-cart {
    position: absolute;
    top: 1rem;
    right: 0.8rem;
    font-size: 2rem;
    color: var(--text-color);
    cursor: pointer;

}

.section-title {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 4.5rem;
  background: #813ab7;
  color: white;
  padding: 1rem;
}

.shop{
    margin-top: 2rem;

}

.shop-contenr{
    display: flex;
    flex-wrap: wrap;
    grid-gap: 1.5rem;
    align-items: center;
    box-shadow: 0 1px 4px hsl(0deg 4% 15% / 10%);
    padding: 1rem;
}

.product-box{
    position: relative;
    padding: 10px;
    /* border: 1px solid var(--text-color); */
    background-color: #ececec;


}

.downloadbtn:hover{
    color: #ff0057;
}

.description {
    flex: 1;
    padding: 1rem;
}

.description p {
    margin: 1em 0;
}

.details_box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    grid-gap: 1rem;
    margin-top: 1.2rem;

}
.col_title{
    font-size: 2.5rem;
    line-height: 1em;
}

.product-box:hover{

    background: #171226;
    transition: .4s;
}

.songviewshareaction {
    margin: 1em 0;
    background: #efefef;
    padding: 1em;
    border-radius: 10px;
}

 .playerView {
    padding: 2em 0
}

 .playerView .audio-player {
     margin: auto;
     box-shadow: 0 1px 4px hsl(0deg 4% 15% / 10%);
     padding: 1rem;
     background: #3e2362;
     border-radius: 8px;
}

 .playerView .audio-player .player-controls {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

 .playerView .audio-player #radioIcon {
    width: 30px;
    height: 30px;
    background: url("logo.svg") no-repeat center;
    background-size: contain;
}

 .playerView .audio-player #playAudio {
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    border: none;
    width: 30px;
    height: 30px;
    background: url("play.svg") no-repeat center;
    background-size: contain;
     margin-left: 1em;
}

 .playerView .audio-player #playAudio.pause {
    background: url("pause.svg") no-repeat center;
    background-size: contain;
}

 .playerView .audio-player p {
    margin: 0 0 0 5px;
    line-height: 1;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

 .playerView .audio-player p small {
    font-size: 10px;
    color: #f8f8f8;
}

 .playerView .audio-player #seekObjContainer {
    position: relative;
    width: 300px;
    margin: 0 5px;
    height: 5px;
     flex: 1;
}

 .playerView .audio-player #seekObjContainer #seekObj {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #4a3075;
    border: 1px solid #4a3075;
}

 .playtrack_lable {
     background: #6a41a5;
     padding: 4px 11px;
     border-radius: 10px;
     color: white;
     font-size: 10px;
 }

 .playerView .audio-player #seekObjContainer #seekObj #percentage {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: #ff0063;
}

.product-img{
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.iconLable {
    color: #420064;
    background: #ebebeb;
    padding: 10px;
    cursor: pointer;
    border-radius: 8px;
    margin-right: 0.5rem;
}

.product-title{
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
}

.price{
    font-weight: 500;
}

.view_on{
    position: absolute;
    bottom: 0;
    right: 0;
    color: var(--bg-color);
    background: #e91e63;
    padding: 10px;
    cursor: pointer;
    border-radius: 23px 0 0;
}

.view_on:hover{
    background: #ff0057;
}


/* break points */
@media (max-width: 1080px){
    .nav {
        padding: 3rem 0 2rem;
    }

    section {
        padding: 3rem 0 2rem;
    }

    .container {
        margin: 0 auto;
        width: 90%;
    }

    .shop {
        margin-top: 2rem !important;
    }
}

@media (max-width: 400px){
    .nav {
        padding: 11px;
    }

    .logo {
       font-size: 1rem;
    }

    .cart {
       width: 320px;
    }
}

@media (max-width: 360px){
    .shop {
        margin-top: 1rem !important;
    }
    .cart {
        width: 280px;
     }
}